.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.first-image {
    background-image: url(../images/mountainsbackground.png);
    width: 100%;
    display: flex;
    max-width: 2500px;
    min-height: 685px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    color: #ffff;
    letter-spacing: 4px;
    line-height: 26px;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    text-align: center;
    color: #ffff;
    line-height: 26px;
    letter-spacing: 6px;
}

.searchbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 653px;
    min-height: 500px;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffff;
    box-sizing: border-box;
    
}

.search-bar {
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.text {
width: 503px;
height: 63px;
font-family: 'Josefin Sans', sans-serif;
font-size: 14px;
letter-spacing: 4px;
text-align: center;
background: #f1f1f1;
border: none;
}

.search-btn {
    width: 153px;
    height: 65px;
    font-family: "Aleo", serif;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 3px;
    box-sizing: border-box;
    background: #5474FD;
    color: #ffff;
    text-transform: uppercase;
    border: 2px solid #ffff;
}

.scroll-down {
    display: flex;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
    flex-direction: column;
    color: #ffff;
    margin-bottom: 50px;
    min-height: 100px;
}

.navigation {
    display: flex;
    width: 100%;
    background-color: #5474FD;
    justify-content: space-between;
}

.container-nav {
    width: 100%;
    display: flex;
    max-width: 1500px;
    height: 83px;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    box-sizing: border-box;
    margin-left: 321px;
}

.nav-right {
    margin-right: 50px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-family: 'Aleo', serif;
    color: #ffff;
}

nav li {
    display: flex;
    margin: 12px
}

.second-image {
    background-image: url(/images/darkenedcastles.png);
    width: 100%;
    max-width: 2500px;
    min-height: 685px;
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
}

.text-left {
    display: flex;
    flex-direction: column;
    max-width: 560px;
    min-height: 300px;
    color: #ffff;
    font-weight: normal;
    font-size: 16px;
    justify-content: center;
}

.choose-us {
    font-family: 'Aleo', serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 26px;
}

.p-left {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1.6px;
    word-spacing: 3px;
}

.explore-btn {
    font-family: "Aleo", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1px;
    background: linear-gradient(
    45deg, #496BFE 35%, #5474FD 35%);
    color: #ffffff;
    display: flex;
    width: 228px;
    height: 63px;
    align-items: center;
    justify-content: center;
    border: none;
}

.photo-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    max-height: 450px;
}

.villa {
    justify-self: flex-start;
    align-self: flex-start;
    margin-bottom: 10px;
}

.mountains {
    justify-self: flex-start;
    align-self: center;
    object-fit: contain;
    max-width: 350px;
    max-height: 220px;
}

.third-image {
    background-image: url(/images/luxuryvilla.png);
    width: 100%;
    max-width: 2500px;
    min-height: 685px;
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
}

.box-spain {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 543px;
    max-height: 374px;
    background: rgba(35, 35, 35, 0.9);
    justify-content: center;
    align-items: flex-start;
    margin: 227px 899px 99px 328px;
    color: #ffff;
    padding: 30px;
}

h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1.5px;
    line-height: 26px;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 26px;
}

.p-spain {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
}

.book-now {
    font-family: "Aleo", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    width: 228px;
    height: 63px;
    border: none;
    background: linear-gradient(
    45deg, #496BFE 35%, #5474FD 35%);
    color: #ffff;
    align-items: center;
    justify-content: center;
}

.fourth-image {
    background-image: url(/images/sundownmountains.png);
    width: 100%;
    max-width: 2500px;
    min-height: 685px;
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
}

.box-spain2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 543px;
    max-height: 374px;
    background: rgba(35, 35, 35, 0.9);
    justify-content: center;
    align-items: start;
    margin: 227px 329px 99px 898px;
    color: #ffff;
    padding: 30px;
}

.fifth-image {
    background-image: url(/images/darkenedbackgroundman.png);
    width: 100%;
    max-width: 2500px;
    min-height: 685px;
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    font-family: "Aleo", serif;
}

.sam {
    font-family: "Aleo", serif;

}